* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100dvh;
  display: grid;
  place-items: center;
  font-family: "Roboto", sans-serif;
}

.clock {
  height: 350px;
  width: 350px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  display: grid;
  place-items: center;
  background-image: url(./image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.numbers-container {
  position: absolute;
  top: 105px;
  left: 105px;
  transform: translate(-50%, -50%);
}

.numbers {
  position: absolute;
  font-size: 2rem;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  color: #edf2f4;
}

.second-hand,
.minute-hand,
.hour-hand {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform-origin: 0% 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 100px;
}

.second-hand {
  height: 2px;
  width: 120px;
  background-color: #ef233c;
  transform: rotate(270deg);
  z-index: 1;
}

.minute-hand {
  height: 4px;
  width: 100px;
  background-color: #f8e8ee;
  transform: rotate(270deg);
  z-index: 2;
}

.hour-hand {
  height: 6px;
  width: 80px;
  background-color: #f8e8ee;
  transform: rotate(270deg);
  z-index: 3;
}

.point {
  background-color: #8d99ae;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 50%;
}

.center {
  display: flex;
  align-items: center;
}
